body {
    background: green;
    text-align: center;
    margin: auto;
    position: relative;
}
.btn {
    text-align: center;
    margin: auto;
    height: auto;
    width: auto;
}

.gifButton {
    margin: 30px 15px;
}

.gifDiv {
    margin-right: 15px;
    float: left;
    margin-bottom: 30px;
}

.topic {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #555555;
    color: white;
}

#newtopic {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #555555;
    color: white;
}
#header {
    width: 100%;
    background-color: white;
}
#gif {
    background-color: white;
    width: 400px;
    margin: auto;
    
}



